.user-panel>.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: unset;
  left: 55px;
}
.products_files_area {
  margin-top: 15px;
}

.images_area {
  margin-top: 20px;
  margin-bottom: 20px;
}
.p_image {
  width: 150px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.p_image img {
  width: 100%;
}